@using UCRS.Data.Models
@using UCRS.WebClient.Models

@model StudentCoursesViewModel

@{
    ViewBag.Title = "Home";
}

@{
    foreach (Course course in this.Model.AllCourses)
    {
        if (this.Model.RegisteredCoursesIds.Contains(course.Id))
        {
            <div class="alert-success">@course.Name</div>
        }
        else
        {
            <div class="alert-info">@course.Name</div>
        }
    }
}