@using UCRS.WebClient.Models

@model Guid

<div class="row">
    <div class="col-md-8">
        @using (Ajax.BeginForm("Delete", "Courses", null ,new AjaxOptions()
        {
            HttpMethod = "POST"
        }))
        {
            @Html.AntiForgeryToken()
            
            <input name="courseId" />

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-danger" data-dismiss="modal">Ok</button>
                </div>
            </div>
        }
    </div>
</div>